<body>
    <div class="container pt-3">
        <div class="d-flex align-items-center justify-content-end py-3">
            <a href="/shops">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
        </div>
        <form method="post" action="/shops/add">
            <h2 class="text-center">ADD NEW SHOP</h2>
            <div class="mb-3">
                <label for="textInputShopName" class="form-label">Shop Name</label>
                <input type="text" name="name" class="form-control" id="textInputShopName">
            </div>
            <div class="mb-3">
                <label for="textInputAddressNo" class="form-label">Address No.</label>
                <input type="text" name="addressNo" class="form-control" id="textInputAddressNo">
            </div>
            <div class="mb-3">
                <label for="textInputStreet" class="form-label">Street</label>
                <input type="text" name="street" class="form-control" id="textInputStreet">
            </div>
            <div class="mb-3">
                <label for="textInputCity" class="form-label">City</label>
                <input type="text" name="city" class="form-control" id="textInputCity">
            </div>
            <div class="mb-3">
                <label for="textInputPostalCode" class="form-label">Postal Code</label>
                <input type="text" name="zipCode" class="form-control" id="textInputPostalCode">
            </div>
            <div class="mb-3">
                <label for="textInputStreet" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="textInputEmail">
            </div>
            <div class="mb-3">
                <label for="textInputContactNo" class="form-label">Contact No</label>
                <input type="tel" name="tel" class="form-control" id="textInputContactNo">
            </div>
            <div class="mb-3">
                <label for="selectInputOwnerId" class="form-label">Owner</label>
                <select id="selectInputOwnerId" name="ownerId" class="form-select" aria-label="Default select example">
                    {{#each shopOwners}}
                    <option value="{{id}}" selected>{{username}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>